body {
    background-color: rgb(248, 131, 121);
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.white {
    color: white;
}

#titleWrapper {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4vw;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#inputWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#inputWrapper input, #inputWrapper button {
    font-size: 2vw;
    padding: 15px;
    margin: 15px 0;
    width: 90%;  /* Make the input box even wider */
    max-width: 900px;  /* Increase the maximum width for a much longer box */
}

#inputWrapper button {
    cursor: pointer;
    background-color: #ff6347;
    border: none;
    color: white;
    font-size: 2vw;
    padding: 20px 30px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#inputWrapper button:hover {
    background-color: #ff4500;
}


#yearInput {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    font-size: 16px;
}
