html,
body {
    background-color: rgb(248, 131, 121);
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.75em; /* down from 1em (24px) to ~18px */
    height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.white {
    color: white;
}

#titleWrapper {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em; /* down from 2.67em */
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#inputWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#inputWrapper label,
#inputWrapper input,
#inputWrapper button {
    font-size: 1.3em; /* was 2em */
}

#inputWrapper input, 
#inputWrapper button {
    padding: 10px;
    margin: 10px 0px;
    width: 90%;
    max-width: 900px;
}

#inputWrapper button {
    cursor: pointer;
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#inputWrapper button:hover {
    background-color: #ff4500;
}

#yearInput {
    padding: 8px;
    margin: 0px;
    width: 160px;
}
